body{
    margin: 0;
}
header{
    background-image:url(../img/pattern.png);
    background-size: contain;
    height: 80px;
    background-color:#1d79d1;
}

#logo-booleaner{
    width: 10%;
    position: absolute;
    margin-top: 30px;
}
#titolo-main{
    font-size: 40px;
    font-family:Arial, Helvetica, sans-serif
}
h1{
    margin: 1px;
}
.descrizioni-foto{
    font-weight:200;
    font-size:13px ;
}

/* correzzione padding per ul */
ul{
    padding-left: 20px;
}

/* --------------------------------------------------- */
/* colori testo */
#blue-color{
    color: #68acdd;
    font-weight: bold;
}
.gray-color{
    color: gray;
    font-size: 13px;
}
.text-evidenziato{
    background-color: yellow;
}
/* ------------------------------------------------- */